/* CSS Document */

/*

CSS is structured as folowes:

Selector {
    property: value;
    property: value;
    property: value
}

Each selector is pared with and styles an element. For example:

html {} is pared with styles <html>

*/

html {
    font-family: Times New Roman, Helvetica, sans-serif;
}

body {
    background-color: #CCC;
}

h1 {
    font-family: Savoye LET, "Times New Roman", serif; 
    font-weight: heavy;
    font-size: 6rem; /* 1 rem = 16px */
    color: #800000;
    text-align:center
}

h2 {
    color:#A52A2A;
    font-size:1.5rem;
}

h2+ p {
    font-size: 1rem;
    line-height: 1.2rem;
}

h3{
    color:#A52A2A;
}

em {
    font-style:italic;
}

p em {
    color: #483D8B;
}

h3+ p {
    font-size: 1rem;
    line-height: 1.2rem;
}

a:link {color:#191970;}







    